*{
  margin:0;
}
html,body{
  height: 100%;
  overflow-x: hidden;
}

.boxShadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.spinner{
  aspect-ratio:1/1;
  height:20%;
  z-index: 99;
}

.anim{
  color: #E6c517;
  font-size: 14px;
  animation: blink 5s infinite ease-in-out;
}
@keyframes blink {
  0% {color: #E6c517;}
  50%{color: #5a5a59;}
  100% {color: #E6c517;}

}
